<div>
  <div class="menu">
    <div class="menu-content" [class]="{ 'expand' : isExpanded }">
      <h1 class="menu-server">
        <span>SERVER INFO</span>
        <span class="close"></span>
      </h1>
      <label style="margin-right:100px">Version {{status?.version}}</label>
      <p></p>
      <label>
        <span style="width:100px">CPU:{{status?.cpuAverage|number:'1.0-1'}}%</span>
        <span style="margin-left:20px">Mem:{{status?.memoryUsed|number:'1.0-1'}}%</span>
      </label>
      <p></p>
      <label>CPU Temps </label>
      <label *ngFor="let temp of status?.cpuTempertures">{{temp}}°C</label>
      <p></p>
      <label>http://{{address}}/api/status/</label>
      <p *ngFor="let address of addressList">{{address}}</p>
      <h1 class="menu-server"><span>Tools</span></h1>
      <div class="flex-fill">
        <span type="button" class="calib button" (click)="startCaribration()"></span>
        <span type="button" class="debug button" (click)="toggleDebug()"></span>
      </div>
    </div>
    <button class="expand-button" [class]="{ 'expand' : isExpanded }" (click)="toggleMenu()">
      <svg class="panel-background" viewBox="0,0,35,35">
        <polyline class="fill open" points="0,0 0,23 10,33 35,33 35,0"></polyline>
        <polyline class="border open" points="2,0 2,23 12,33 35,33"></polyline>
        <text class="icon open" x="10" y="24">&#xea0d;</text>
        <text class="icon close" x="10" y="24">&#xea11;</text>
      </svg>
    </button>
  </div>
</div>
