.menu {
  overflow: hidden;
}

.expand-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 4.2vw;
  height: 4.2vw;

  .menu-icon {
    font-size: 3vw;
  }

  .panel-background {
    position: absolute;
    top: 0;
    left: 0;

    text {
      font-size: 20px;
      fill: #dae9ff;
      font-family: "icomoon";

      &.clock {
        letter-spacing: 0.07em;
      }
    }

    .fill {
      fill: #10101080;
      stroke: transparent;
    }

    .border {
      fill: transparent;
      stroke: #000020;
      stroke-width: 3;
    }
  }

  .open, .close {
    transition: opacity ease 0.5s;
  }

  &.expand {
    .close {
      opacity: 1;
    }

    .open {
      opacity: 0;
    }
  }

  &:not(.expand) {
    .close {
      opacity: 0;
    }

    .open {
      opacity: 1;
    }
  }
}

.menu-content {
  border-left: solid .45vw #000020;
  border-bottom: solid .45vw #000020;
  background-color: #10101080;
  color: #dae9ff;
  padding: 2%;
  transition: transform ease 0.5s;
  transform: translateX(100%);
  width: 25vw;

  &.expand {
    transform: translateX(0%);
  }

  h1 {
    font-size: 2.5vw;
    padding: 0;
  }

  label,
  select {
    font-size: 1.5vw;
    padding: 0 0.3vw;
  }

  .button {
    display: inline-block;
    margin: 1vw;
    padding: 0;
    border: solid 0.3vw;
    border-radius: 1vw;
    font-size: 4vw;
    text-align: center;
    font-family: 'icomoon';
    width: 6vw;

    &.calib::before {
      content: "\e9b4";
    }

    &.debug::before {
      content: "\e9ab";
    }

    &:active {
      opacity: 0.8;
    }
  }

  p {
    font-size: 1.5vw;
    padding: 0 4vw;
    margin: 0;
  }
}

@keyframes open {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
