<div class="accelbox" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="accelerate-back acc1">
    <span id="accelerate+"></span>
  </div>
  <div class="accelerate-back acc2">
    <span id="accelerate-"></span>
  </div>
</div>
