.accelbox {
  position: absolute;
  width: 100%;
  height: 100%;

  .accelerate-back {
    position: absolute;
    display: inline-block;
    width: 1.2vw;
    height: 80%;
    background-color: #80808080;
    margin: 11% 5% 0 5%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    &.acc1 {
      span {
        background-color: #29c840;
      }
    }

    &.acc2 {
      left: 1.5vw;

      span {
        background-color: #fe5e56;
      }
    }

    span {
      position: absolute;
      width: 1.2vw;
      bottom: 0;
    }
  }
}

.accelbox {
  opacity: 0;

  &:not(.loaded) {
    .digit {
      opacity: 0;
    }

    .lines {
      width: 0;
    }
  }

  &.loaded {
    transition: opacity 0.5s ease .5s;
    opacity: 1;

    .digit {
      transition: opacity 0.5s ease 1s;
      opacity: 1;
    }

    .lines {
      transition: width 2s linear 2s;
      width: 100%;
    }
  }
}
