
.voltage {
  position: absolute;
  bottom: 0;
  height: 4vw;
  width: 80%;
  left: 10%;
  color: white;
  background-color: #80808080;
  text-align: center;
  vertical-align: central;
  justify-content: center;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 1vw;
    height: 1vw;
    top: -1vw;
    background-color: #4477cc;
  }

  &::before {
    left: 10%;
  }

  &::after {
    right: 10%;
  }

  .label {
    padding: 0;
    margin: 0;
    text-align:center;
  }

  &:not(.loaded) {
    opacity: 0;

    .label {
      opacity: 0;
    }
  }

  &.loaded {
    transition: opacity 0.5s ease .5s;
    opacity: 1;

    .label {
      transition: opacity 0.5s ease 1.5s;
      opacity: 1;
    }
  }
}
