.caribration-control {
  transition-duration: 0.5s;
  height: 100vh;
  opacity: 0;

  &.visible {
    background-color: #0008;
    opacity: 1;

    .caribration {
      pointer-events: all;
    }
  }
}

.bg-cancel {
  pointer-events: all;
  height: 100%;
}

.caribration {
  background-color: #888c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vmin;
  height: 75vmin;

  .canvas-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 60vmin;
    height: 60vmin;
    transform: translate(-50%, -50%);
    border: solid 1vmin #212529;
    box-sizing: content-box;

    canvas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60vmin;
      height: 60vmin;
    }

    #pointer_x,
    #pointer_y {
      content: '';
      display: block;
      position: absolute;
      background-color: #ff000080;
    }

    #pointer_x {
      width: 2px;
      height: 100%;
      left: 50%;
    }

    #pointer_y {
      width: 100%;
      height: 2px;
      top: 50%;
    }
  }

  .labels {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 60vmin;

    label {
      font-size: 5vmin;
      margin: 1vmin;
      width: 18vmin;
    }
  }

  .button {
    font-family: "icomoon";
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    padding: 0;
    border: 0;

    &:active {
      opacity: 0.8;
    }

    &::before,
    &::after {
      font-size: 10vmin;
      line-height: 10vmin;
      text-align: center;
    }

    &.start,
    &.reset {
      top: 10%;
      left: 1vmin;
      transform-origin: 50% 50.2%;
      animation: 1s linear infinite notrotation;

      &::before {
        content: "\e9b4";
      }

      @keyframes notrotation {
        0% {
          transform: rotate(0);
        }
      }

      &.reset {
        animation: .5s ease infinite rotation;

        @keyframes rotation {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(90deg);
          }
        }
      }
    }

    &.save {
      top: 50%;
      left: 1vmin;

      &::before {
        content: "\ea10";
      }
    }

    &.cancel {
      top: 10%;
      right: 1vmin;

      &::before {
        content: "\ea11";
      }
    }
  }
}
