<div>
  <div class="caribration-control" [class]="{ 'visible': isVisible }">
    <div class="caribration" (click)="undefined">
      <span class="canvas-pointer">
        <canvas id="calib_canvas" width="1000" height="1000"></canvas>
        <span id="pointer_x"></span>
        <span id="pointer_y"></span>
      </span>
      <div><span class="button btn start" *ngIf="!isEnable" (click)="startCaribration()"></span></div>
      <div><span class="button btn save" *ngIf="isEnable" (click)="saveCaribration()"></span></div>
      <div><span class="button btn reset" *ngIf="isEnable" (click)="resetCaribration()"></span></div>
      <div><span class="button btn cancel" (click)="closeCaribration()"></span></div>
      <div class="labels">
        <label>X:{{x|number:'1.2-2'}}</label>
        <label>Y:{{y|number:'1.2-2'}}</label>
        <label>Z:{{z|number:'1.2-2'}}</label>
      </div>
    </div>
    <div *ngIf="isVisible" class="bg-cancel" (click)="closeCaribration()"></div>
  </div>
</div>
