<div class="meter" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="inner-scale">
    <span class="scale position-0"></span>
    <span class="scale position-20"></span>
    <span class="scale position-40"></span>
    <span class="scale position-60"></span>
    <span class="scale position-80"></span>
    <span class="scale position-100"></span>
    <span class="scale position-120"></span>
    <span class="scale position-140"></span>
    <span class="scale position-160"></span>
    <span class="scale position-180"></span>
    <span class="scale position-200"></span>
    <span class="scale position-220"></span>
  </div>
  <div class="outer-scale">
    <span class="start"></span>
    <span class="scale position-0"></span>
    <span class="scale position-20"></span>
    <span class="scale position-40"></span>
    <span class="scale position-60"></span>
    <span class="scale position-80"></span>
    <span class="scale position-100"></span>
    <span class="scale position-120"></span>
    <span class="scale position-140"></span>
    <span class="scale position-160"></span>
    <span class="scale position-180"></span>
    <span class="scale position-200"></span>
    <span class="scale position-220"></span>
    <span class="end"></span>
  </div>
  <div class="label">
    <label id="name">km/h</label>
  </div>
  <div class="indicator" id="speedindicator">
    <span class="outer"></span>
    <span class="center"></span>
    <span class="root"></span>
    <span class="middle"></span>
    <span class="end"></span>
  </div>
  <span class="corners"></span>
</div>
