<body>
  <div class="logo-center">
    <svg viewBox="0,0,365,292" overflow="hidden">
      <defs>
        <clipPath id="clip0">
          <rect x="341" y="627" width="365" height="292" />
        </clipPath>
      </defs>
      <g clip-path="url(#clip0)" transform="translate(-341 -627)">
        <rect x="0" y="0" width="27.1997" height="160.691" transform="matrix(-0.866025 -0.5 -0.5 0.866025 648.075 687.909)" />
        <path d="M402.064 687.753 425.62 674.153 505.965 813.316 482.41 826.916Z" fill-rule="evenodd" />
        <path d="M342.467 692.259C360.962 678.104 382.408 668.867 402.378 657.171L463.131 659.189C432.834 677.113 419.749 695.037 356.997 710.012 349.203 710.978 339.442 695.718 342.467 692.259Z" fill-rule="evenodd" />
        <path d="M438.539 685.976C443.889 682.887 455.14 673.405 456.065 678.676 457.903 681.684 457.282 680.758 459.12 683.766 462.129 687.346 450.386 693.878 445.036 696.967 443.198 693.631 440.377 689.312 438.539 685.976Z" fill-rule="evenodd" />
        <path d="M362.023 717.606C373.575 717.152 389.631 707.517 405.021 701.917L410.447 713.942 374.839 727.373C363.147 727.213 354.86 719.415 362.023 717.606Z" fill-rule="evenodd" />
        <path d="M375.822 734.467C391.931 734.396 399.723 724.959 414.518 722.842L420.69 733.234 391.178 744.813C388.17 746.355 371.42 741.094 375.822 734.467Z" fill-rule="evenodd" />
        <path d="M5.5697 0.000413014C34.0846 3.33695 102.125 6.40131 129.182 8.32823 136.207 12.4037 136.597 31.5762 129.992 32.7041 88.6583 36.1623 54.9285 35.3039 2.80395 24.0145-1.34952 23.4896-1.25267-0.13361 5.5697 0.000413014Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 708.561 692.74)" />
        <path d="M588.462 812.672C603.909 816.582 544.554 890.441 526.052 891 508.701 890.86 451.647 816.163 463.642 812.672 477.054 808.903 577.352 809.321 588.462 812.672Z" fill-rule="evenodd" />
        <path d="M396.723 752.831C410.601 750.814 412.838 743.787 425.931 742.652 427.986 746.445 429.542 748.768 431.597 752.561L409.167 762.247C406.573 763.549 393.657 757.003 396.723 752.831Z" fill-rule="evenodd" />
        <path d="M415.64 765.95 435.077 759.965C437.399 764.157 438.844 765.737 441.166 769.928L421.946 776.024C420.043 776.906 413.836 769.66 415.64 765.95Z" fill-rule="evenodd" />
        <path d="M427.047 782.19 445.814 776.428C448.35 780.99 449.887 782.731 452.424 787.293L433.754 791.761C431.843 792.628 425.346 786.079 427.047 782.19Z" fill-rule="evenodd" />
        <path d="M438.276 798.94 456.278 794.036C458.814 798.598 460.351 800.339 462.887 804.901L446.37 810.038C444.459 810.905 436.575 802.829 438.276 798.94Z" fill-rule="evenodd" />
        <path d="M448.906 703.971C454.256 700.882 462.557 692.875 465.449 696.671 467.287 699.679 467.158 699.244 468.996 702.252 472.005 705.833 460.262 711.381 454.912 714.47 453.074 711.134 450.744 707.307 448.906 703.971Z" fill-rule="evenodd" />
        <path d="M460 722.333C465.35 719.244 473.16 710.745 476.543 715.033 478.381 718.041 478.251 717.114 480.09 720.122 483.099 723.703 471.356 729.743 466.005 732.832 464.167 729.496 461.838 725.669 460 722.333Z" fill-rule="evenodd" />
        <path d="M469.975 740.284C475.326 737.195 485.101 730.664 486.518 732.984 488.356 735.992 488.227 735.066 490.065 738.074 493.074 741.654 481.332 747.694 475.981 750.783 474.143 747.448 471.814 743.62 469.975 740.284Z" fill-rule="evenodd" />
        <path d="M480.102 758.712C485.453 755.623 492.771 746.633 496.645 751.412 498.483 754.42 498.354 753.494 500.192 756.502 503.201 760.082 491.458 766.122 486.108 769.211 484.27 765.875 481.94 762.048 480.102 758.712Z" fill-rule="evenodd" />
        <path d="M491.204 777.182C496.554 774.093 504.364 766.086 507.747 769.882 509.585 772.89 510.439 771.963 512.277 774.971 515.286 778.552 502.56 784.592 497.21 787.681 495.372 784.345 493.042 780.518 491.204 777.182Z" fill-rule="evenodd" />
        <path d="M3.81134 0.245125C14.0521 5.62756 32.7918 5.3116 48.9352 8.15667L47.6208 21.284 10.0329 15.1115C-0.0221837 9.12705-3.30268-1.77019 3.81134 0.245125Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 691.675 719.8)" />
        <path d="M2.23937 0C16.2386 7.99326 27.7158 3.7165 41.6008 9.2802L41.7502 21.3659 10.3734 16.6381C6.99406 16.4691-4.89276 3.53788 2.23937 0Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 676.38 736.087)" />
        <path d="M1.50028 0C14.7065 5.19228 20.2326 0.22569 32.3022 5.7894 32.1834 10.1019 32.3728 12.8913 32.2541 17.2037L7.65287 14.3772C4.71537 14.2082-3.30619 2.08026 1.50028 0Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 655.156 754.273)" />
        <path d="M1.99553 0 22.4987 4.53538C22.4114 9.32654 22.8879 11.4169 22.8006 16.208L2.4339 11.8771C0.273883 11.6894-1.53879 2.31116 1.99553 0Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 636.894 767.777)" />
        <path d="M1.7889 0 21.5766 4.39376C21.4893 9.61234 21.9658 11.8892 21.8785 17.1077L2.84678 11.6425C0.686759 11.438-1.74543 2.51734 1.7889 0Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 625.277 783.901)" />
        <path d="M1.65943 0 20.3189 4.754C20.2316 9.97255 20.7081 12.2494 20.6208 17.4679L3.17089 13.6581C1.01085 13.4536-1.87492 2.51733 1.65943 0Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 613.895 800.569)" />
        <path d="M0.0130586 0.664739C6.21422 0.664739 20.7536-1.92111 18.9119 3.10583 19 6.62984 18.9252 5.51719 19.0133 9.04119 19.832 13.6467 6.34646 13.4317 0.145302 13.4317 0.221581 9.62374-0.06322 4.47269 0.0130586 0.664739Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 612.28 685.583)" />
        <path d="M0.0485035 0.813435C6.2497 0.813435 17.4839-1.97029 18.0924 2.76287 18.1805 6.28693 18.2867 5.84583 18.3748 9.36989 19.1935 13.9754 6.2012 12.9088 0 12.9088 0.076279 9.10081-0.0277755 4.62144 0.0485035 0.813435Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 601.98 703.466)" />
        <path d="M0.0485028 1.08786C6.24961 1.08786 17.3031-2.36715 18.0922 3.03726 18.1803 6.56125 18.533 5.69434 18.6211 9.21833 19.4399 13.8238 6.20111 13.183 0 13.183 0.0762779 9.37507-0.0277751 4.89579 0.0485028 1.08786Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 590.982 721.591)" />
        <path d="M0.0485028 0.100362C6.24961 0.100362 18.025-0.668045 18.0922 2.04977 18.1803 5.57379 18.533 4.70688 18.6211 8.2309 19.4399 12.8364 6.20111 12.1956 0 12.1956 0.0762779 8.38763-0.0277751 3.90832 0.0485028 0.100362Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 580.475 740.397)" />
        <path d="M0.0485028 1.36892C6.24961 1.36892 17.1225-2.75788 18.0922 3.31833 18.1803 6.84234 18.533 5.97543 18.6211 9.49944 19.4399 14.1049 6.20111 13.4641 0 13.4641 0.0762779 9.65618-0.0277751 5.17688 0.0485028 1.36892Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 570.945 757.726)" />
        <path d="M0.0485029 0.912972C6.24962 0.912972 17.0565-2.1165 18.0922 2.86241 18.1803 6.38647 19.3879 6.01124 19.476 9.5353 20.2947 14.1408 6.20112 13.0084 0 13.0084 0.0762781 9.20034-0.0277752 4.72098 0.0485029 0.912972Z" fill-rule="evenodd" transform="matrix(-0.866025 -0.5 -0.5 0.866025 559.573 776.592)" />
        <path d="M481 834.5C481 809.923 501.147 790 526 790 550.853 790 571 809.923 571 834.5 571 859.077 550.853 879 526 879 501.147 879 481 859.077 481 834.5Z" fill-rule="evenodd" />
        <path d="M586.991 671.368C587.788 687.94 534.445 775.754 524.025 775.999 514.091 776.248 462.212 687.445 463.009 671.368 463.366 652.568 586.634 654.547 586.991 671.368Z" fill-rule="evenodd" />
        <path d="M5.56968 1.81044C31.7293-2.42418 63.3498 1.84101 90.407 3.76792 98.6312 12.3216 109.71 26.1912 123.243 34.4026 81.9087 37.8607 54.9284 37.1138 2.80394 25.8245-1.34952 25.2995-1.25267 1.67642 5.56968 1.81044Z" fill-rule="evenodd" transform="matrix(-0.910644 0.413191 0.413191 0.910644 469.945 623.586)" />
        <path d="M424.768 918.36C411.832 896.32 396.589 839.815 413.458 821.494 426.873 812.249 436.845 820.126 455.176 820.176 459.671 833.329 502.285 896.684 525.491 896.985 548.697 897.286 590.56 840.938 597.363 820.515 614.33 821.004 628.258 813.337 638.092 825.326 646.274 835.748 636.705 890.12 615.474 919L424.768 918.36Z" fill-rule="evenodd" />
      </g>
    </svg>
  </div>
</body>
