@import '~video.js/dist/video-js.css';
.video-js {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.vjs-control-bar {
    display:none !important;
}

video {
  object-fit: cover;
}

.video-js.videoContainer video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
}
