.rotation {
  width: 100%;
  height: 100%;

  .bank {
    position: absolute;
    top: 36%;
    left: 67%;
    width: 34%;
    height: 64%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    #bank-body {
      position: absolute;
      left: 45%;
      top: 25%;
      width: 10%;
      height: 50%;
      background: #a6a6a6;

      &::after {
        content: "";
        top: 90%;
        position: absolute;
        border: solid #a6a6a6;
        border-width: 0.5vw;
        border-radius: 50%;
        width: 100%;
        height: 20%;
      }
    }

    #bank-ground {
      position: absolute;
      top: 25%;
      left: -50%;
      width: 200%;
      height: 100%;
      background: #dae9ff;
      clip-path: polygon(0% 55%, 100% 55%, 100% 100%, 0% 100%);
    }
  }

  .slope {
    position: absolute;
    top: 36%;
    width: 64%;
    height: 64%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    #slope-body {
      position: absolute;
      left: 10%;
      width: 80%;
      height: 100%;
      background-image: url(XV19000A_min.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }

    #slope-ground {
      position: absolute;
      top: -50%;
      left: -10%;
      width: 120%;
      height: 200%;
      background: #dae9ff;
      clip-path: polygon(0% 65%, 100% 65%, 100% 100%, 0% 100%);
    }
  }

  .rotate {
    position: absolute;
    left: 2%;
    width: 18vw;
    height: 9vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    .rotate-border {
      position: absolute;
      width: 100%;
      height: 200%;
      border-radius: 50%;
      outline: .8vw solid #a6a6a6;
      outline-offset: -0.8vw;
      clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 50% 45%, 0% 20%);

      &::before {
        content: "";
        position: absolute;
        left: 49%;
        width: 2%;
        height: 100%;
        border-radius: .4vw;
        background-color: #c0c0c0;
        clip-path: polygon(0 0, 0% 5%, 100% 5%, 100% 0%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: .85vw solid #4477cc;
        clip-path: polygon(0% 100%, 100% 100%, 100% 13%, 50% 45%, 0% 13%);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 200%;
      border-radius: 50%;
      outline-offset: -3.4vw;
      outline: 1.6vw solid #dae9ff;
      clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 50% 30%, 0% 25%);
    }

    #rotate-meter {
      position: absolute;
      width: 100%;
      height: 200%;
      border-radius: 50%;
      outline-offset: -3.8vw;
      outline: 2.4vw solid #4477cc;
      clip-path: polygon(50% 50%, 49% 0%, 51% 0%);
      transition: 0.2s ease;
    }
  }

  .corners {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: .8vw solid #a6a6a6;
    outline-offset: -0.8vw;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: .8vw;
      width: 100%;
      border-left: solid .8vw #4477cc;
      border-right: solid .8vw #4477cc;
    }

    &::after {
      top: calc(100% - .8vw);
    }
  }

  .scale {
    position: absolute;
    width: 100%;
    height: 0.2vw;
    top: 80%;
    background-color: #60a0e0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - .8vw) 100%, calc(100% - .8vw) 50%, .8vw 50%, .8vw 100%, 0% 100%);
  }

  &:not(.loaded) {
    opacity: 0;

    #bank-ground,
    #slope-ground,
    #bank-body,
    #slope-body,
    .scale,
    .rotate-border::before {
      opacity: 0;
    }

    .center-line-x,
    .center-line-y {
      clip-path: polygon(50% -50%, 50% 150%, 50% 150%, 50% -50%);
    }
  }

  &.loaded:not(.ready) {
    transition: opacity 1s ease 0s;
    opacity: 1;

    #bank-ground,
    #slope-ground,
    .scale,
    .rotate::before {
      transition: opacity 0.5s ease 0.5s;
      opacity: 1;
    }

    #bank-body,
    #slope-body {
      transition: opacity 0.5s ease 1.0s;
      opacity: 1;
    }

    #accelpoint {
      transition: opacity 0.5s ease 2s;
      opacity: 1;
    }
  }
}
