<div class="rotation" [ngClass]="{ 'loaded' : isLoaded, 'ready': isReady }">
  <div class="bank">
    <span id="bank-body"></span>
    <span id="bank-ground"></span>
    <span class="corners"></span>
    <span class="scale"></span>
  </div>
  <div class="slope">
    <span id="slope-body"></span>
    <span id="slope-ground"></span>
    <span class="corners"></span>
    <span class="scale"></span>
  </div>
  <div class="rotate">
    <span id="rotate-meter"></span>
    <span class="rotate-border"></span>
  </div>
</div>
