<div class="tempertures" [ngClass]="{ 'loaded' : isLoaded }">
  <div class="vehicle-image"></div>
  <div class="temp1">
    <div class="digit">
      {{temp1|number:'2.0-0'}}{{unit}}
    </div>
  </div>
  <div class="temp2">
    <div class="digit">
      {{temp3|number:'2.0-0'}}{{unit}}
    </div>
  </div>
  <div class="temp3">
    <div class="digit">
      {{temp2|number:'2.0-0'}}{{unit}}
    </div>
  </div>
  <div class="temp4">
    <div class="digit">
      {{temp4|number:'2.0-0'}}{{unit}}
    </div>
  </div>
  <div class="lines">
    <svg class="temp-line" viewBox="0,0,250,100" overflow="scroll">
      <polyline class="line1" points="0,23 095,23 132,60"></polyline>
      <polyline class="line2" points="0,48 085,48 100,63"></polyline>
      <polyline class="line3" points="0,73 135,73 150,58"></polyline>
      <polyline class="line4" points="0,98 140,98 200,38"></polyline>
    </svg>
  </div>
</div>
