

.vehicle-image {
  position: absolute;
  right: 0;
  width: 85%;
  height: 100%;
  background-image: url(XV19000A.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.temp1, .temp2, .temp3, .temp4 {
  position: absolute;
  background-color: #80808080;
  width: 15%;
  height: 22%;
  font-size: 2vw;
  color: #ffffff;

  .digit {
    display: inline-block;
    text-align:center;
    width: 100%;
    height: 100%;
  }

  .temp {
    display: inline-block;
    width: 40%;
    height: 100%;
  }
}

@for $i from 1 through 4 {
  .temp#{$i} {
    top: #{$i * 25% - 23%};
  }
}

.lines {
  position: absolute;
  height: 100%;
  overflow-x: hidden;

  .temp-line {
    position: absolute;
    height: 100%;

    .line1, .line2, .line3, .line4 {
      fill: transparent;
      stroke: #60a0e0;
      stroke-width: 3;
    }
  }
}

.tempertures {
  opacity: 0;

  &:not(.loaded) {
    .digit {
      opacity: 0;
    }

    .lines {
      width: 0;
    }
  }

  &.loaded {
    transition: opacity 0.5s ease .5s;
    opacity: 1;

    .digit {
      transition: opacity 0.5s ease 1s;
      opacity: 1;
    }

    .lines {
      transition: width 2s linear 2s;
      width: 100%;
    }
  }
}
